<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = 'com.geek.productmanagement.mapper.ProductMapper'>
	<select id = 'findAllByStoreId' resultType = 'com.geek.productmanagement.dto.ProductListDto'>
		SELECT p.id, p.product_name, p.product_image ,
		cc.child_category_name, 
		sp.store_price, sp.store_stock 
		FROM store_products sp
		
		INNER JOIN products p
		ON sp.product_id = p.id
		
		INNER JOIN child_categories cc 
		ON p.child_category_id = cc.id
		
		WHERE sp.store_id = #{storeId}
		
		ORDER BY p.id
		
	</select>
  
</mapper>