<!DOCTYPE html>
<html xmlns=th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>管理者登録</title>
  </head>
  <body>
	  <h1>管理者登録</h1>
	  
	  <!-- メールアドレス重複時はエラーメッセージ表示 -->
	  <p th:if="${errorMessage}"
		   th:text="${errorMessage}">
	  </p>
	  
	  <form th:action="@{/admin/register}" th:object="${adminRegisterForm}" method="post">
		<select th:field="*{storeId}" required>
			<option value="">下記から選択</option>
			<!-- each:Controllerから渡されたstoresデータを1件ずつ取り出し、その1件をstoreと名付ける-->
			<!-- value:取り出した1件のidデータを「登録ボタンクリック時に」サーバに送信する-->
			<!-- text:取り出した1件のnameを画面に出力する-->
			<option th:each="store :${stores}"
					th:value="${store.id}"
					th:text="${store.storeName}">
			</option>
		</select><br>
		<input type="text"  th:field="*{lastName}" placeholder="姓" maxlength="10" required><br>
		<input type="text"  th:field="*{firstName}" placeholder="名" maxlength="10" required><br>
		<input type="email"  th:field="*{email}" placeholder="メールアドレス" required></br>
		<select th:field="*{positionId}" required>
			<option value="">下記から選択</option>
			<option th:each="position:${positions}"
					th:value="${position.id}"
					th:text="${position.positionName}">
			</option>
		</select><br>
		<select th:field="*{authorityId}" required>
			<option value="">下記から選択</option>
			<option th:each="authority:${authorities}"
					th:value="${authority.id}"
					th:text="${authority.authorityName}">
			</option>
		</select><br>
		<input type="tel"  th:field="*{phoneNumber}" placeholder="電話番号 ハイフン不要" maxlength="11" pattern="[0-9]{10,11}" required></br>
		<input type="password"  th:field="*{password}" placeholder="8文字以上のパスワード" minlength="8" maxlength="64" required></br>
		<button type="submit">登録</button>
	  </form>
  </body>


</html>