<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>管理者一覧</title>
  </head>
  <body>
	  <h1>管理者一覧</h1>
	  <table border="1">
		  <tr>
			  <th>店舗名</th>
			  <th>姓</th>
			  <th>名</th>
			  <th>役職</th>
			  <th>権限</th>
			  <th>操作</th>
		  </tr>
		  <tr th:each="admin:${admins}">
			<td th:text="${admin.storeName}"></td>
			<td th:text="${admin.lastName}"></td>
			<td th:text="${admin.firstName}"></td>
			<td th:text="${admin.positionName}"></td>
			<td th:text="${admin.authorityName}"></td>
			<td class="operation-cell">
			    <a th:href="@{/admin-detail(id=${admin.id})}">
			        詳細
			    </a>
			</td>
		  </tr>
	  </table>

  </body>


</html>