<!DOCTYPE html>
<html>
	<head>
		<title>管理者詳細</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>管理者詳細</h1>
		<table border="1">
			<tr>
				<th>店舗名</th>
				<th>姓</th>
				<th>名</th>
				<th>メールアドレス</th>
				<th>役職</th>
				<th>権限</th>
				<th>電話番号</th>
				<th>作成日時</th>
				<th>更新日時</th>
			</tr>
			<tr>
				<td th:text="${admin.storeName}"></td>
				<td th:text="${admin.lastName}"></td>
				<td th:text="${admin.firstName}"></td>
				<td th:text="${admin.email}"></td>
				<td th:text="${admin.positionName}"></td>
				<td th:text="${admin.authorityName}"></td>
				<td th:text="${admin.phoneNumber}"></td>
				<td th:text="${admin.createdAt}"></td>
				<td th:text="${admin.updatedAt}"></td>
			</tr>
		</table>
		<button>削除</button>
		<button>
			<a>編集</a>
		</button>
	</body>
</html>