<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>商品一覧画面</title>
	</head>
	<body>
		<h1>商品一覧</h1>
		<form th:action="@{/product-list}" method="get">
			<label for="productName">商品名</label>
			
			<input type="text" id="productName" 
				name="productName" th:value="${productName}">
				
				<select id = "mainCategoryId" name="mainCategoryId">
					<option value="">大カテゴリ一覧</option>
					<option th:each="mainCategory:${mainCategoryList}"
							th:value="${mainCategory.id}"
							th:text="${mainCategory.mainCategoryName}"
							th:selected="${mainCategoryId != null
									and mainCategory.id == mainCategoryId}">
					</option>
				</select>
				<select id="subCategoryId" name="subCategoryId">
					<option value="">中カテゴリ一覧</option>
					<option th:each="subCategory:${subCategoryList}"
							th:value="${subCategory.id}"
							th:text="${subCategory.subCategoryName}"
							th:selected="${subCategoryId != null
									and subCategory.id == subCategoryId}">
					</option>
				</select>
				<select id="childCategoryId" name="childCategoryId">
					<option value="">小カテゴリ一覧</option>
					<option th:each="childCategory:${childCategoryList}"
							th:value="${childCategory.id}"
							th:text="${childCategory.childCategoryName}"
							th:selected="${childCategoryId != null 
									and childCategory.id == childCategoryId}">
					</option>
				</select>
			<button type="submit">検索</button>
		</form>
		<table border="1">
			
			<thead>
				<tr>
					<th>商品画像</th>
					<th>商品名</th>
					<th>小カテゴリ</th>
					<th>店舗価格</th>
					<th>在庫数</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="product:${productList}">
					<td>
						<img th:if = "${not #strings.isEmpty(product.productImage)}"
							th:src = "@{'/images/products/' + ${product.productImage} }"
							alt = "商品画像"
							width="100">
							
						<span th:unless="${not #strings.isEmpty(product.productImage)}">
					</td>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.childCategoryName}"></td>
					<td th:text="${product.storePrice}"></td>
					<td th:text="${product.storeStock}"></td>
					<td class="">
						<a>
							詳細
						</a>
					</td>
				</tr>
				
				<tr th:if="${#lists.isEmpty(productList)}">
					<td colspan="6">商品がありませんでした</td>
				</tr>
				
			</tbody>

		</table>
		

		
		<!--ページネーション機能-->
		<nav th:if="${totalPages > 0}"
			style="display: flex;
				justify-content: center;
				gap: 24px;
				font-size: 24px;">
			
			<span th:each="pageNumber:${#numbers.sequence(1,totalPages)}">
			
				<!--現在のページ番号-->
				<span th:if="${pageNumber == currentPage}"
					  th:text="${pageNumber}">
				</span>
					
				
					<a th:unless="${pageNumber == currentPage}"
						th:href="@{/product-list(
							page=${pageNumber},
							productName=${productName},
							mainCategoryId=${mainCategoryId},
							subCategoryId=${subCategoryId},
							childCategoryId=${childCategoryId}
						)}"
						th:text="${pageNumber}">
					</a>
			</span>
			
		</nav>
	</body>
</html>